@model BenchmarkBibleVerse.Models.BibleVerseModel

@{
    ViewBag.Title = "SearchVerse";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}



<div class="formcenter">
    <h2 class="titlecenter">SearchVerse</h2>
    <hr />
    @using (Html.BeginForm("GetVerse", "BibleVerseEntry", FormMethod.Get))
    {
        @Html.LabelFor(model => model.Testament, new { @class = "control-label col-md-2" })
        @Html.Label("Old:")
        @Html.RadioButtonFor(model => model.Testament, "Old")
        @Html.Label("New:")
        @Html.RadioButtonFor(model => model.Testament, "New")
        <br />
        @Html.LabelFor(model => model.BookSelection, new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(model => model.BookSelection, new { @class = "form-control" })
        <br />
        @Html.LabelFor(model => model.ChapterSelect, new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(model => model.ChapterSelect, new { @class = "form-control" })
        <br />
        @Html.LabelFor(model => model.VerseNumber, new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(model => model.VerseNumber, new { @class = "form-control" })
        <br />
        <input type="submit" value="Search" class="btn btn-default" />
    }
    <hr />
    @if (Model != null && Model.VerseString != null && Model.VerseString != "")
    {
        @Html.DisplayNameFor(model => model.VerseString)
        <br />
        @Html.LabelFor(model => model.VerseString, Model.VerseString, new { @class = "versecenter" })
    }
    else if (Model != null && Model.BookSelection != null && Model.BookSelection != "" && (Model.VerseString == null || Model.VerseString == ""))
    {
        <label>No results found.</label>
    }

</div>

