@model BenchmarkBibleVerse.Models.BibleVerseModel

@{
    ViewBag.Title = "SearchVerse";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}



<div class="formcenter">
    <h2 class="titlecenter">Search Verse</h2>
    <br />
    @using (Html.BeginForm("GetVerse", "BibleVerseEntry", FormMethod.Get))
    {
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Testament, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Label("Old:")
            @Html.RadioButtonFor(model => model.Testament, "Old")
            @Html.Label("New:", new { @class = "customradiolabels" })
            @Html.RadioButtonFor(model => model.Testament, "New")
            @Html.ValidationMessageFor(model => model.Testament, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookSelection, new { @class = "control-label col-md-2" })
        <div class="col-mod-10">
            @Html.TextBoxFor(model => model.BookSelection, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BookSelection, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ChapterSelect, new { @class = "control-label col-md-2" })
        <div class="col-mod-10">
            @Html.TextBoxFor(model => model.ChapterSelect, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ChapterSelect, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VerseNumber, new { @class = "control-label col-md-2" })
        <div class="col-mod-10">
            @Html.TextBoxFor(model => model.VerseNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VerseNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
</div>
}

@if (Model != null && Model.VerseString != null && Model.VerseString != "")
{
    <hr />
    @Html.DisplayNameFor(model => model.VerseString)
    <br />
    @Html.LabelFor(model => model.VerseString, Model.VerseString, new { @class = "versecenter" })
}
else if (Model != null && Model.BookSelection != null && Model.BookSelection != "" && (Model.VerseString == null || Model.VerseString == ""))
{
    <hr />
    <label>No results found.</label>
}

</div>

