@model BenchmarkBibleVerse.Models.BibleVerseModel

@{
    ViewBag.Title = "SearchVerse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchVerse</h2>

<div>
    <h4>BibleVerseModel</h4>
    <hr />
    @using (Html.BeginForm("GetVerse", "BibleVerseEntry", FormMethod.Get))
    {
        @Html.DisplayNameFor(model => model.Testament)
        @Html.Label("Old")
        @Html.RadioButtonFor(model => model.Testament, "Old")
        @Html.Label("New")
        @Html.RadioButtonFor(model => model.Testament, "New")

        @Html.LabelFor(model => model.BookSelection, "Book")
        @Html.TextBoxFor(model => model.BookSelection)

        @Html.LabelFor(model => model.ChapterSelect, "Chapter")
        @Html.TextBoxFor(model => model.ChapterSelect)

        @Html.LabelFor(model => model.VerseNumber, "Verse #")
        @Html.TextBoxFor(model => model.VerseNumber)

        <input type="submit" value="Create" class="btn btn-default" />
    }
    <hr />
    @if (Model != null && Model.VerseString != null && Model.VerseString != "")
    {
        @Html.DisplayNameFor(model => model.VerseString)<p>:</p>
        <br />
        @Html.LabelFor(model => model.VerseString, Model.VerseString)
    }
    else if (Model != null && Model.BookSelection != null && Model.BookSelection != "" && (Model.VerseString == null || Model.VerseString == ""))
    {
        <label>No results found.</label>
    }

</div>

